# Ignore everything by default
*

# Allow Python scripts
!*.py

# Allow spec files
!*.spec

# Allow text and document files
!*.txt
!*.docx

# Allow specific root files
!README.md
!LICENSE
!requirements.txt
!install_requirements.bat
!.gitignore

# Allow specific folders and their contents
!.github/
!.github/**
!docs/
!docs/**
!assets/
!assets/**
