# Ignore everything by default
*

# Allow Python scripts
!*.py

# Allow spec files
!*.spec

# Allow .gitignore itself
!.gitignore

# Explicitly ignore all directories (this ensures folders are ignored even if they contain allowed files)
*/
